:root {
  --primary: #e82e2c;

  --dark-primary: #191c1f;
  --dark-secondary: #1f2327;
}

/* Core styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  background: var(--dark-primary);
  color: #fff;
}

ul {
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  width: 100%;
}

/* Utilities */

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.logo {
  width: 143px;
}

.btn {
  display: inline-block;
  cursor: pointer;
  border: none;
  border-radius: 40px;
  color: #fff;
  font-weight: 700;
  line-height: 1.25rem;
  transition: all 0.3s ease-in-out;
}

.btn-primary {
  border: 1px solid var(--primary);
  background-color: var(--primary);
  padding: 1.1875rem;
  position: relative;
  font-size: 1rem;
  margin-top: 1.875rem;
}

.btn-primary:hover {
  background-color: transparent;
  border-color: #fff;
}

.btn-outline {
  border: 1px solid #fff;
  font-size: 0.875rem;
  padding: 0.75rem 3rem;
}

.btn-outline:hover {
  background-color: var(--primary);
  border-color: var(--primary);
}

.chevron-right {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.pre-heading {
  font-weight: 700;
  line-height: 1.25rem;
}

.post-heading {
  font-size: 1.5rem;
  line-height: 1.875rem;
  display: block;
}

.lead-heading {
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.6875rem;
  margin-top: 0.3125rem;
}

.section-heading {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.lead-paragraph {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.875rem;
  margin-top: 0.625rem;
}

.pr-54 {
  padding-right: 3.375rem;
}

/* Header component */

#main-header {
  padding: 2rem 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

#main-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Hero component */

#hero {
  position: relative;
  padding: 11.375rem 0;
  position: relative;
}

#hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
      837.78% 378.29% at 69.44% -79.86%,
      rgba(31, 35, 39, 0) 0%,
      #191c1f 47.89%,
      rgba(31, 35, 39, 0) 100%
    ),
    url("../assets/images/hero/hero.png") no-repeat center center/cover;
  z-index: -2;
}

#hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-primary);
  z-index: -1;
  opacity: 0.8;
}

#hero .container {
  padding-right: 24rem;
}

#hero .pre-heading {
  font-size: 1.125rem;
}

/* Features component */

#features {
  padding: 3.75rem 0;
}

#features .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.875rem;
}

.feature {
  display: flex;
  gap: 1.25rem;
}

.features-icon {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  margin-top: 0.9375rem;
}

/* Media features component */

#features-2 {
  background-color: var(--dark-secondary);
  padding: 7.5rem 0;
}

#features-2 .container {
  display: grid;
  grid-template-columns: 1.21fr 1fr;
  grid-gap: 7.9375rem;
}

#features-2 #features-2-showcase img {
  height: 100%;
  object-fit: cover;
}

#features-2 #features-2-content {
  margin-top: 5.5625rem;
}

#features-2 .pre-heading {
  font-size: 1rem;
}

#features-2 .section-heading {
  margin-top: 0.3125rem;
}

#features-2 #features-2-list {
  margin-top: 1.5625rem;
}

#features-2 #features-2-list ul {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.feature-2 {
  display: flex;
  gap: 0.9375rem;
}

.feature-2-img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.feature-2-text {
  margin-top: 0.125rem;
}
