:root {
  --primary: #e82e2c;

  --dark-primary: #191c1f;
  --dark-secondary: #1f2327;
}

/* Core styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  background: var(--dark-primary);
  color: #fff;
}

ul {
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  width: 100%;
}

/* Utilities */

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.logo {
  width: 143px;
}

.btn {
  display: inline-block;
  cursor: pointer;
  border: none;
  border-radius: 40px;
  color: #fff;
  font-weight: 700;
  line-height: 1.25rem;
  transition: all 0.3s ease-in-out;
}

.btn-primary {
  border: 1px solid var(--primary);
  background-color: var(--primary);
  padding: 1.1875rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  width: max-content;
  margin-top: 1.875rem;
}

.btn-primary:hover {
  background-color: transparent;
  border-color: #fff;
}

.btn-outline {
  border: 1px solid #fff;
  font-size: 0.875rem;
  padding: 0.75rem 3rem;
}

.btn-outline:hover {
  background-color: var(--primary);
  border-color: var(--primary);
}

.chevron-right {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 0.9375rem;
}

.pre-heading {
  font-weight: 700;
  line-height: 1.25rem;
}

.lead-heading {
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.6875rem;
  margin-top: 0.3125rem;
}

.lead-paragraph {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.875rem;
  margin-top: 0.625rem;
}

/* Header component */

#main-header {
  padding: 2rem 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

#main-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Hero component */

#hero {
  position: relative;
  padding: 11.375rem 0;
  position: relative;
}

#hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
      837.78% 378.29% at 69.44% -79.86%,
      rgba(31, 35, 39, 0) 0%,
      #191c1f 47.89%,
      rgba(31, 35, 39, 0) 100%
    ),
    url("../assets/images/hero/hero.png") no-repeat center center/cover;
  z-index: -2;
}

#hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-primary);
  z-index: -1;
  opacity: 0.8;
}

#hero .container {
  padding-right: 24rem;
}

#hero .pre-heading {
  font-size: 1.125rem;
}

@media (max-width: 1024px) {
  /* Hero component */

  #hero .container {
    padding-right: 12rem;
  }
}

@media (max-width: 768px) {
  /* Utilities */

  .btn-primary {
    padding: 1rem;
  }

  .lead-heading {
    font-size: 3rem;
    line-height: normal;
  }

  .lead-paragraph {
    line-height: normal;
    font-size: 1.125rem;
  }

  /* Hero component */

  #hero .container {
    padding-right: 1.5rem;
  }
}

@media (max-width: 640px) {
  /* Utilities */

  .logo {
    width: 110px;
  }

  .btn {
    font-size: 0.75rem;
    line-height: normal;
  }

  .btn-primary {
    margin-left: auto;
    margin-right: auto;
  }

  .btn-outline {
    padding: 0.5rem 1.5rem;
  }

  /* Hero component */

  #hero {
    text-align: center;
  }
}
